.register-container {
    background: url('/src/components/Assets/Register.svg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .register-box {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
  }
  
  .register-title {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    color: #000000;
    margin-bottom: 1rem;
  }
  
  .error-message {
    color: #f44336;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .login-redirect {
    text-align: center;
    margin-bottom: 1rem;
    color: #000000;
  }
  
  .login-link {
    color: #000000;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #333;
    color: #fff;
    placeholder: #aaa;
  }
  
  .submit-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #372188;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #372188;
  }